
.icon-headphones:before { content: '\e800'; } /* '' */
.icon-video-alt:before { content: '\e801'; } /* '' */
.icon-music:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '\e803'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */